.Rproj.user
.Rhistory
.RData
.Ruserdata
*old
*tempdir
*.html
*figure
readme.Rmd
data_raw/gis/albers_chelsa_clim.tif
data_raw/gis/albers_chelsa_clim.tif.aux.xml
data_raw/gis/CHELSA_bio10_01.tif
data_raw/gis/CHELSA_bio10_01.tif.aux.xml
data_raw/gis/CHELSA_bio10_12.tif
data_raw/gis/epsg4326_lu_hkd.tif.aux.xml
data_raw/ocean
rmd/document_output
rmd/supporting_info.log
rmd/rmd_test.Rmd
rmd/cover_letter.Rmd
rmd/logo/letter_head.png
rmd/logo/signature_terui.png
image/ushio2018_fig1.jpg
image/shubuto_2.jpg
image/shubuto_1.jpg
image/kitada2018_fig1.jpg
image/kestrel.jpg
image/fish_school.jpg
image/complexity.jpg
rmd/style.pptx
rmd/jasm2022.Rmd
result/post_*
