.Rproj.user
.Rhistory
.RData
.Ruserdata
*old
*tempdir
*.html
*figure
readme.Rmd
code/data_gis/albers_chelsa_clim.tif
code/data_gis/albers_chelsa_clim.tif.aux.xml
code/data_gis/CHELSA_bio10_01.tif
code/data_gis/CHELSA_bio10_01.tif.aux.xml
code/data_gis/CHELSA_bio10_12.tif
code/data_gis/epsg4326_lu_hkd.tif.aux.xml
rmd/document_output/manuscript.docx
