.Rproj.user
.Rhistory
.RData
.Ruserdata
*old
*tempdir
*.html
*figure
readme.Rmd
data_gis/albers_chelsa_clim.tif
data_gis/albers_chelsa_clim.tif.aux.xml
data_gis/CHELSA_bio10_01.tif
data_gis/CHELSA_bio10_01.tif.aux.xml
data_gis/CHELSA_bio10_12.tif
data_gis/epsg4326_lu_hkd.tif.aux.xml
rmd/document_output
rmd/supporting_info.log
rmd/rmd_test.Rmd
